%Commissioner-regular {
    font-family: 'Commissioner-Regular', Arial, Helvetica, sans-serif;
    font-weight: 400;
}

%Commissioner-Medium {
    font-family: 'Commissioner-Medium', Arial, Helvetica, sans-serif;
    font-weight: 500;
}
