@import "vars";
@import "libs";
@import "fonts";
@import "global";


.main {
    min-height: 100vh;
    padding: 10px 0;
    display: grid;
    grid-column: auto;
    grid-row: auto;
    gap: 40px;
}

.top {
    &__wrapper {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        gap: 20px 30px;
    }

    .intro {
        grid-column: 1 / 8;
        padding: 5px;
        display: flex;
        justify-content: space-between;

        &__photo {
            width: 236px;
            height: 244px;
        }

        &__photo img {
            object-fit: cover;
            width: 100%;
        }

        &__detail {
            width: 420px;
        }

        &__title {
            font-size: 24px;
        }

        &__text {
            font-size: 18px;

            b {
                font-size: 28px;
            }
        }

        &__period {
            font-size: 14px;
        }

        &__action {
            position: relative;
            color: #717880;
            background: #EDEFF2;
            border-radius: 5px;
            font-size: 16px;
            margin: 0 0 3rem;
            height: 65px;
            width: 418px;
            padding: 10px 20px 10px;
        }

        &__action:hover {
            box-shadow: inset 0 0 0 1px #e0e3e8, 0 10px 20px rgb(169 179 191 / 20%);

            &::after {
                right: -32px;
                transform: scale(1.1);
            }
        }

        &__action::after {
            content: '';
            position: absolute;
            top: -17px;
            right: -30px;
            width: 0;
            height: 0;
            border-top: 50px solid transparent;
            border-left: 24px solid #EDEFF2;
            border-bottom: 50px solid transparent;

        }
    }

    &__form {
        grid-column: 8 / 12;
        background: #EDEFF2;
        border-radius: 20px;
        overflow: hidden;
        box-shadow: inset 0 0 0 1px #e0e3e8;
        will-change: transform;
        transition: box-shadow .25s;
        padding: 15px;

    }

    &__form:hover {
        box-shadow: inset 0 0 0 1px #e0e3e8, 0 10px 20px rgb(169 179 191 / 20%);
    }

    &__form-title {
        font-size: 22px;
        font-weight: 500;
        text-align: center;
        margin-bottom: 15px;
    }

    &__form-text {
        font-size: 14px;
        text-align: left;
        margin-bottom: 15px;
    }


}

.bottom {

    padding: 20px 0 20px;

    &__wrapper {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        gap: 20px 30px;
    }


    &__first {
        grid-column: 1 / 4;

        display: flex;
        flex-direction: column;
    }

    &__second {
        grid-column: 4 / 8;

    }

    &__third {
        grid-column: 8 / 12;

    }
}

.benefits {

    &__title {
        margin-bottom: 20px;
    }

    &__list {
        margin-bottom: 40px;
    }

    &__list li {
        position: relative;
        font-size: 14px;
        margin: 0 0 20px;
        padding-left: 40px;
    }

    &__list li::before {
        content: "•";
        position: absolute;
        top: -5px;
        left: 0px;
        width: 30px;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: rgb(0, 81, 212);
        background: rgb(242, 242, 242);
        border-radius: 10px;
    }
}

.doctors {
    position: relative;

    &__slider {
        width: 320px;
        margin-top: 30px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        overflow: hidden;
    }

    &__slide {
        height: 200px;
    }

    &__slide img {
        width: 70%;
        height: 70%;
        object-fit: cover;
    }
    &__slide figcaption {
        width: 100px;
            
    }

    &__slider-prev,
    &__slider-next {
        width: 40px;
        height: 40px;
        position: absolute;
        background: #FFF;
        box-shadow: 2px 3px 10px rgb(0 0 0 / 15%);
        cursor: pointer;
        transition: all .25s;
        justify-content: center;
        border-radius:100%;
        top: 25%;
        padding: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__slider-prev img,
    &__slider-next img {
        margin: auto;
        width: 50%;
        height: 50%;
        object-fit: cover;
    }

    &__slider-prev {
        left: -60px;
    }
    &__slider-next {
        right: -80px;
    }
}

.price {
    background: #edeff2;
    padding: 10px 20px 10px;
    border-radius: 5px;
    margin-bottom: 20px;

    &:hover {
        box-shadow: inset 0 0 0 1px #e0e3e8, 0 10px 20px rgb(169 179 191 / 20%);
    }

    &__title {
        margin-bottom: 10px;
    }

    &__list {
        padding-left: 20px;
        font-size: 14px;
    }

    &__list li {
        position: relative;
        margin-bottom: 10px;

    }

    &__list li::before {
        content: "•";
        position: absolute;
        top: -5px;
        left: -30px;
        width: 30px;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: rgb(0, 81, 212);
        background: rgb(242, 242, 242);
        border-radius: 10px;
    }

}

.reviews {

    &__title {
        margin-bottom: 10px;
    }

    &__list {
        margin-bottom: 10px;
    }

    &__list li {
        margin-bottom: 20px;
        border: 1px solid #A9B3BF;
        transition: color .25s, border-color .25s, box-shadow .25s;
        border-radius: 5px;
        padding: 10px;
    }

    &__list li:hover {
        box-shadow: 0 10px 20px rgb(169 179 191 / 20%);
    }

    &__list li a {
        height: 50px;
        color: #0051D4;
        line-height: 21px;
        font-size: 18px
    }
}

.ourBenefits {
    &__title {
        margin-bottom: 10px;
    }

    &__list {
        margin-bottom: 10px;

    }

    &__list li {
        margin-bottom: 20px;
    }

    &__list a {
        display: flex;
    }

    &__list div {
        margin: auto 0;
    }

    &__list li img {
        width: 40px;
        margin-right: 20px;
    }
}

@import "media";